{% extends "base.njk" %}

{% block header  %}
<h1> Cabeçalho novo</h1>
{% endblock %}


{% block body %}
<a href="/form">New product</a>
<h1> Produtos: </h1>
<ul>
{% for product in products %}
  <li>{{ product.name }} - {{ product.price}} - <a href="/form/{{product._id}}"><button>Editar</button></a>
</li>
{% else %}
  <li>This would display if the 'item' collection were empty</li>
{% endfor %}
</ul>
{% endblock %}
